<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/network.css"/>
    <script>
        var ie = ( function () {
            var undef,
                    v = 3,
                    div = document.createElement('div'),
                    all = div.getElementsByTagName('i');
            while (div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->', all[0]);
            return v > 4 ? v : undef;
        }() );

        function takeAction() {
            if (ie && ie < 9) {
                D3notok();
            } else {
                // Load D3.js, and once loaded do our stuff
                var head = document.getElementsByTagName('head')[0];
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = "http://d3js.org/d3.v3.min.js";
                script.addEventListener('load', D3ok, false);
                script.onload = "D3ok();";
                head.appendChild(script);
            }
        }

    </script>
</head>
<body onload="takeAction();">

<div id="network">

</div>

<div id="sidepanel">

    <div id="info" class="panel_off"></div>
</div>


<script src="./js/network.js"></script>
</body>
</html>