/* ---------------------------------------------------------------------------
   (c) Telefónica I+D, 2013
   Author: Paulo Villegas
   ------------------------------------------------------------------------- */

body {
    background-color: #f6f6f6;
}

/* HREF links */

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

div#info {
    position: absolute;
    right: 4px;
    cursor: text;
    width: 300px;
    top: 1px;
    z-index: 1000;
    background: #E5E4D6;
    border: solid 1px #aaa;
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 4px;
    text-align: right;
}

div#info div#cover {
    text-align: left;
    height: 300px;
}

div#info div.t {
    font-size: 14px;
    font-weight: bold;
}

div#info img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#info img.action {
    cursor: pointer;
    position: absolute;
}

div#info div.f {
    border-top: 1px dotted #8E5981;
    margin-bottom: 3px;
    margin-top: 3px;
}

div#info span.d {
    font-weight: bold;
}

div#info span.c {
    font-style: italic;
}

div#info span.l {
    font-size: 11px;
    color: #24553E;
    font-variant: small-caps;
}

/* ....................................................................... */
/* SVG elements */

div#network svg {
    background-color: white;
    cursor: move;
    width: 100%;
    height: 100%;
}

line.link {
    stroke: #B2D9D8;
}

circle {
    cursor: crosshair;
    r: 5;
    fill: #000000;
}

circle.level1 {
    stroke: #f00;
}

circle.level2 {
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    stroke: #777;
}

circle.level3 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

circle.sibling {
    /*fill: blue;*/
    fill: #455EE8;
}

circle.main {
    /*fill: red;*/
    fill: #732A9A;
    fill-opacity: 1.0;
}

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px sans-serif;
    font-weight: normal;
    stroke-opacity: 1.0;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
    /*stroke-opacity: 0.5;*/
    /*visibility: hidden;*/
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}

.gNodes {
    width:100%;
    height: 100%;
}

/* ....................................................................... */

/* no longer used */

.nlabel_on {
    visibility: visible;
    font-size: 12px;
    opacity: 1.0;
    fill: #101000;
    stroke: #ffffff;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1000;
    text-align: center;
    background: rgba(222, 223, 163, 0.8);
}

